/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
	box-sizing: border-box;
}

/* inherit border-box on all elements in the universe and before and after
 */
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: Arial, Geneva, sans-serif;
}

a {
	color: #2772B0;
}

.wrapper {
	width: 97%;
	max-width: 1200px;
	margin: 0 auto;
	float: none;
	background-color: #fff;
}

div img {
	width: 100%;
	max-width: 225px;
}

/* grid system -- mobile first! */
/* grid container */

.row {
	display: grid;
	grid-template-columns: 1fr;
	gap: 4%;
}



/* Add background colors to see how much space each column is taking */

.col-1 {
	background-color: #A3CDD9;
	grid-column: span 1;
}

.col-2 {
	background-color: #FFFCE6;
	grid-column: span 1;
}

.col-3 {
	background-color: #C9DF8A;
	grid-column: span 1;
}

.col-4 {
	background-color: #E6D0DE;
	grid-column: span 1;
}

/* Tablet Landscape Screen Sizes */
@media only screen and (min-width: 480px) {

	.row {
		grid-template-columns: repeat(2, 1fr);
	}

	.col-1 {
		grid-column: span 1;
	}

	.col-2 {
		grid-column: span 1;
	}

	.col-3 {
		grid-column: span 2;
	}

	.col-4 {
		grid-column: span 2;
	}

}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {

	.row {
		grid-template-columns: repeat(4, 1fr);
	}

	.col-1 {
		grid-column: span 1;
	}

	.col-2 {
		grid-column: span 2;
	}

	.col-3 {
		grid-column: span 3;
	}

	.col-4 {
		grid-column: span 4;
	}

}